.recent-results {
    border-radius: 7px;

    .tabs {
        height: 50px;
        font-size: 25px;
        display: flex;
        font-size: 18px;
        font-weight: 600;
        background-color: #2c3f54;
        border-radius: 7px 7px 0 0;

        div {
            flex-grow: 1;
            text-align: center;
            line-height: 50px;
            border-radius: 7px 7px 0 0;

            &.selected {
                background-color: #3a5068;
            }

            &:not(.selected):hover {
                cursor: pointer;
                background-color: #203140;
            }
        }
    }

    .results {
        height: 442px;
        background-color: #203140;
        border: 2px solid #3a5068;
        border-top: none;
        border-radius: 0 0 7px 7px;
        display: flex;
        flex-direction: column;

        .header {
            height: 40px;
            display: flex;
            justify-content: space-between;
            background-color: #3a5068;
            font-weight: 600;

            div {
                text-align: center;
                line-height: 40px;
            }

            .rank {
                flex-basis: 8%;
            }

            .username {
                flex-basis: 26%;
            }

            .wpm {
                flex-basis: 20%;
            }

            .accuracy {
                flex-basis: 20%;
            }

            .time {
                flex-basis: 26%;
            }
        }

        .data {
            flex: 1;

            .empty {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .result {
                display: flex;
                height: 40px;
                justify-content: space-between;
                line-height: 40px;

                div {
                    text-align: center;
                }

                .rank {
                    flex-basis: 8%;
                    font-weight: 600;
                    background-color: #2c3f54;
                }

                .username {
                    flex-basis: 26%;
                }

                .wpm {
                    flex-basis: 20%;
                }

                .accuracy {
                    flex-basis: 20%;
                }

                .time {
                    flex-basis: 26%;
                }

                &:nth-child(even) {
                    background: #1a2a35;
                }

                &:nth-child(10) {
                    border-radius: 0 0 7px 7px;

                    .rank {
                        border-radius: 0 0 0 5px;
                    }
                }
            }
        }
    }

    @media (max-width: 500px) {
        .tabs {
            font-size: 12px;
        }

        .results {
            font-size: 12px;
        }
    }
}

.select-graph {
    width: 200px;
}
