.landing-input {
    height: 45px;
    display: flex;

    &.margin {
        margin: 8px 0;
    }

    .icon {
        height: 100%;
        width: 50px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #374858;
        border-radius: 7px 0 0 7px;
        font-size: 18px;
        color: whitesmoke;
        border: 3px solid #374858;
        border-right: none;
    }

    input {
        height: 100%;
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
        outline: none;
        font-size: 18px;
        color: whitesmoke;
        background-color: #374858;
        border: 3px solid #374858;
        border-left: none;
        border-right: none;

        &::placeholder {
            color: #a7a7a7;
        }
    }

    .status {
        height: 100%;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid #374858;
        border-left: none;
        border-radius: 0 7px 7px 0;
        font-size: 20px;
        color: red;
        background-color: #374858;

        &.success {
            color: green;
        }
    }
}
