.footer {
    height: 60px;
    flex-shrink: 0;
    background-color: #2c3f54;
    border: 2px solid #3a5068;
    border-radius: 0 0 7px 7px;
    border-top: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &.disabled .cus-btn {
        opacity: 0.7;
    }

    .cus-btn {
        background-color: #2c3f54;
        display: flex;
        font-size: 25px;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
        margin: 0 3px;
        box-shadow: 0px 0px 2px 1px #080808;

        &.left {
            padding: 5px 8px 5px 7px;
        }

        &.right {
            padding: 5px 7px 5px 8px;
        }
    }

    .item {
        border: 1px solid white;
        padding: 2px 10px;
        margin: 0 3px;
        cursor: pointer;

        &.selected {
            background-color: orange;
        }
    }

    .input {
        margin: 0 7px 0 6px;
        height: 30px;
        font-size: 16px;
        font-weight: 600;

        input {
            height: 100%;
            width: 50px;
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            outline: none;
            border: none;
            border-left: none;
            border-radius: 5px;
            color: whitesmoke;
            background-color: #1a2a357a;

            &::placeholder {
                color: #d6d5d5;
            }
        }
    }

    @media (max-width: 400px) {
        .cus-btn {
            font-size: 15px;
        }
    }
}
