.rooms {
    min-height: 500px;
    flex: 1;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    border: 2px solid #3a5068;
    background-color: #3a5068;
    margin-bottom: 10px;

    img {
        display: flex;
        width: 100%;
        max-height: 150px;
        object-fit: cover;
        min-height: 120px;
        border-radius: 7px 7px 0 0;
        filter: grayscale(100%) opacity(50%);
    }

    .header {
        height: 40px;
        display: flex;
        justify-content: space-between;
        background-color: #3a5068;
        font-weight: 600;

        div {
            text-align: center;
            line-height: 40px;
        }

        .name {
            flex-basis: 30%;
        }

        .currentStatus {
            flex-basis: 20%;
        }

        .number {
            flex-basis: 8%;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                display: flex;
            }
        }

        .uptime {
            flex-basis: 17%;
        }

        .join {
            flex-basis: 25%;
        }
    }

    .results-wrapper {
        flex: 1;
        position: relative;
        background-color: #203140;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            background: #14222b;
        }

        &::-webkit-scrollbar-thumb {
            background: #304763;
        }
    }

    .rooms-footer {
        height: 30px;
        background-color: #2c3f54;
        border-top: 2px solid #3a5068;
        border-radius: 0 0 7px 7px;
    }

    @media (max-width: 500px) {
        .header,
        .results {
            font-size: 12px;
        }
    }
}

.rooms .nagivation {
    display: grid;
    grid-template-areas: "create refresh filter";
    grid-template-columns: 250px 60px 1fr;
    grid-template-rows: 60px;
    grid-gap: 10px;
    padding: 10px;
    background-color: #2c3f54;

    @media (max-width: 700px) {
        grid-template-columns: 220px 60px 1fr;
    }

    @media (max-width: 600px) {
        grid-template-areas:
            "create refresh"
            "filter filter";
        grid-template-rows: 45px 45px;
        grid-template-columns: 1fr 45px;
    }

    .create-btn {
        grid-area: create;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 7px;
        font-size: 30px;
        font-weight: 500;
        color: whitesmoke;
        background-color: #203140;
        box-shadow: 0px 0px 2px 1px #080808;

        &:hover {
            cursor: pointer;
        }

        @media (max-width: 400px) {
            font-size: 20px;
        }
    }

    .refresh-btn {
        grid-area: refresh;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 7px;
        font-size: 30px;
        color: whitesmoke;
        background-color: #203140;
        box-shadow: 0px 0px 2px 1px #080808;

        &.refresh-btn-disabled {
            opacity: 0.7;
        }

        &:hover:not(.refresh-btn-disabled) {
            cursor: pointer;
        }

        span {
            display: flex;
        }

        .current {
            animation: spin 0.8s linear 1;
        }

        @keyframes spin {
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @media (max-width: 600px) {
            font-size: 24px;
        }
    }

    .input-wrapper {
        grid-area: filter;
    }
}

.rooms .input-wrapper {
    height: 100%;
    display: flex;
    box-sizing: border-box;

    .icon {
        height: 100%;
        width: 60px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #203140ad;
        box-sizing: border-box;
        border-radius: 7px 0 0 7px;
        font-size: 30px;
        color: whitesmoke;

        &.right {
            width: 50px;
            border-radius: 0 7px 7px 0;
            font-size: 20px;

            span {
                display: flex;
                border-radius: 7px;
                padding: 4px;

                &:hover {
                    cursor: pointer;
                    background-color: #203140;
                }
            }
        }
    }

    input {
        height: 100%;
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
        outline: none;
        border: none;
        border-left: none;
        font-size: 30px;
        color: whitesmoke;
        background-color: #203140ad;

        &::placeholder {
            color: #d6d5d5;
        }

        &.rounded {
            border-radius: 0 7px 7px 0;
            padding-right: 10px;
        }
    }

    @media (max-width: 600px) {
        .icon {
            font-size: 22px;
        }

        input {
            font-size: 22px;
        }
    }
}

.results-wrapper .results {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .empty {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 500;

        .reset {
            font-size: 16px;
            margin-top: 5px;
            padding: 5px 10px;
            border-radius: 7px;
            font-weight: 500;
            color: whitesmoke;
            background-color: #2d465d;
            box-shadow: 0px 0px 2px 1px #080808;

            &:hover {
                cursor: pointer;
            }
        }

        @media (max-width: 600px) {
            font-size: 15px;
        }
    }

    .room {
        width: 100%;
        height: 70px;
        display: flex;
        font-size: 20px;
        background-color: #2c3f54;
        border-bottom: 2px solid #3a5068;

        div {
            line-height: 70px;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            //border: 1px solid white;
        }

        .name {
            flex-basis: 30%;
            font-weight: 700;
        }

        .currentStatus {
            flex-basis: 20%;
            text-transform: uppercase;
            font-size: 12px;

            span {
                padding: 2px 5px;
                background-color: #4778ab;
                border-radius: 5px;
                font-weight: 700;

                &.playing {
                    background-color: green;
                }
            }
        }

        .users {
            flex-basis: 8%;
        }

        .uptime {
            flex-basis: 17%;
        }

        .join {
            flex-basis: 25%;

            button {
                background-color: #bfb325;
                border-radius: 7px;
                outline: none;
                border: none;
                width: 75%;
                height: 40px;
                font-size: 20px;
                font-weight: 800;
                cursor: pointer;
                box-shadow: 0px 0px 2px 1px #080808;
            }
        }

        @media (max-width: 600px) {
            font-size: 15px;
            height: 50px;

            div {
                line-height: 50px;
            }

            .currentStatus {
                font-size: 9px;
            }

            .join button {
                height: 30px;
                font-size: 15px;
            }
        }
    }
}
