.error-wrapper {
    height: 100%;
    min-height: 400px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;

    .error {
        width: 100%;
        max-width: 400px;
        background-image: linear-gradient(to bottom right, #273747, #273747, #121a21);
        border: 3px solid #3a5068;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0px 0px 1px 1px black;

        .header {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 40px;
            background-color: #3a5068;

            .title {
                font-weight: 800;
                font-size: 45px;

                span {
                    color: #debb00;
                }
            }
        }

        .msg {
            color: #f5f5f5;
            font-size: 18px;
            padding: 0 20px;
            margin-bottom: 40px;
        }

        button {
            outline: none;
            border: none;
            padding: 10px 50px;
            margin-bottom: 20px;
            border-radius: 7px;

            box-shadow: 0px 0px 1px 1px black;
            border: 2px solid #3a5068;
            font-size: 18px;
            font-weight: 700;
            background-color: #294156;
            color: whitesmoke;

            &:hover {
                cursor: pointer;
                background-color: #3a5068;
            }
        }
    }
}
