.profile {
    flex: 1;
    min-height: 500px;
    color: whitesmoke;

    .header {
        height: 100px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .avatar {
            width: 60px;
            height: 60px;
            margin-right: 20px;
            color: whitesmoke;
            font-size: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 0px 2px 1px black, 0px 0px 2px 1px black inset;
            font-weight: 1000;
            background-color: #2c3f54;
            border: 5px solid #3a5068;
            border-radius: 10px;
        }
    }

    .stats-header {
        font-size: 20px;
        font-weight: 600;
        padding: 0 10px;
        margin-bottom: 5px;
    }

    .stats {
        display: flex;
        flex-direction: column;
        border: 3px solid #203140;
        border-radius: 7px;
        padding: 20px;
        margin-bottom: 20px;

        .row {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            &:last-of-type {
                margin: 0;
                padding-top: 10px;
            }

            .title {
                flex-basis: 150px;
                font-size: 18px;
                font-weight: 800;
                line-height: 50px;
            }

            .stat {
                text-align: center;

                :first-child {
                    color: gold;
                    font-size: 14px;
                    font-weight: 700;
                }

                :last-child {
                    font-size: 18px;
                    font-weight: 800;
                }
            }
        }
    }
}
