.race {
    display: flex;
    flex-direction: column;

    .quote {
        padding: 20px;
        margin-top: 20px;
        font-size: 23px;
        border: 3px solid #203140;
        border-radius: 7px;
        color: whitesmoke;
        line-height: 28px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
            "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        .author {
            width: 100%;
            margin-top: 15px;

            p {
                float: right;
                font-size: 15px;
            }
        }

        .word-current {
            text-decoration: underline;
        }

        .word-correct {
            color: palegreen;
        }

        .letter-current {
            outline: solid 1px yellow;
        }

        .letter-correct {
            color: palegreen;
        }

        .letter-typo {
            background-color: red;
            color: white;
        }
    }

    input {
        height: 80px;
        margin-top: 20px;
        padding: 0 20px;
        overflow: hidden;
        box-sizing: border-box;
        outline: none;
        border: 3px solid #203140;
        font-size: 35px;
        background-color: #203140;
        color: whitesmoke;

        &::placeholder {
            color: whitesmoke;
            opacity: 0.2;
        }

        &.typo {
            border: 3px solid red;
        }
    }

    input[type] {
        -webkit-appearance: none;
        border-radius: 7px;
    }

    @media (max-width: 600px) {
        .quote {
            font-size: 18px;
        }

        input {
            height: 50px;
            font-size: 25px;
        }
    }
}

.scaleable-wrapper {
    resize: both;
    position: relative;
    margin: 40px 0;
}

.very-specific-design {
    width: 787px;
    text-align: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
}

.keyboard {
    border: 3px solid #000000;
    height: 100%;
    padding-bottom: 2px;
    border-radius: 10px;
    background-color: black;

    span {
        display: block;
        margin-bottom: -6px;
    }
}

.row {
    margin-top: 2px;
    overflow: hidden;
}

.key {
    width: 50px;
    height: 50px;
    float: left;
    background-color: #fffff4;
    color: #000000;
    line-height: 48px;
    text-align: center;
    margin-left: 2px;
    border-radius: 5px;
}

.key__symbols {
    line-height: 28px;
}

.key__delete {
    width: 100px;
}

.key__oneandhalf {
    width: 75px;
}

.key__esc {
    background: #ee786e;
}

.key__enter {
    width: 112px;
}

.key__caps {
    width: 90px;
}

.key__shift-left {
    width: 115px;
}

.key__shift-right {
    width: 139px;
}

.key__spacebar {
    width: 332px;
}

.key__alt {
    width: 65px;
}

.pressed {
    background-color: orange;
}
