.room {
    position: relative;
    color: whitesmoke;

    .status {
        display: flex;
        justify-content: space-between;
    }

    .stats {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
