.race {
    height: 100%;
    display: flex;
    flex-direction: column;

    .quote {
        padding: 20px;
        margin-top: 20px;
        font-size: 25px;
        border: 3px solid #202e3a;
        border-radius: 7px;
        color: whitesmoke;

        .word-current {
            text-decoration: underline;
        }

        .word-correct {
            color: palegreen;
        }

        .letter-current {
            outline: solid 1px yellow;
        }

        .letter-correct {
            text-decoration: underline;
            color: palegreen;
        }

        .letter-typo {
            text-decoration: underline;
            background-color: red;
            color: white;
        }
    }

    input {
        height: 80px;
        margin-top: 20px;
        padding: 0 20px;
        overflow: hidden;
        box-sizing: border-box;
        outline: none;
        border: 3px solid #202e3a;
        border-radius: 7px;
        font-size: 35px;
        background-color: #202e3a;
        color: whitesmoke;

        &.typo {
            border: 3px solid red;
        }
    }
}

.timer {
    color: whitesmoke;
    font-weight: 700;
    margin-left: 20px;
    font-size: 30px;
    letter-spacing: 1px;
}
