@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800&display=swap");

body {
    //min-height: 100vh;
    min-width: 320px;
    font-family: "Jost", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #162029;
    //background-image: linear-gradient(to top, #273747, #121a21, #121a21);
    //background-repeat: no-repeat;
    //background-attachment: fixed;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

textarea,
input[type] {
    -webkit-appearance: none;
    border-radius: 0;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.app {
    min-height: 100vh;
    min-width: 320px;
    width: 100%;
    position: absolute;

    .inner {
        max-width: 1000px;
        margin: 0 auto;
        padding: 20px;
    }
}
